{{define "index"}}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<title>Todo List</title>
<link rel="stylesheet" type="text/css" href="/static/style.css" media="all" />
<link rel="stylesheet" type="text/css" href="/css/main.css" media="all" />
</head>
<body>

  <div class="container mx-auto p-2">
    <h1 class="text-2xl">TODO</h1>
    <!-- エラーの一覧 -->
    {{range .Errors}}
      <p><em class="error">{{.}}</em></p>
    {{end}}

    <!-- TODO の一覧 -->
    <ul class="todo-overview-list list-disc list-inside">
    {{range .Todos}}
      <form action="/" method="post">
        <input type="hidden" name="id" value="{{.ID}}" />
        <input type="hidden" name="done" value="{{if .Done}}0{{else}}1{{end}}" />
        <li>
          <span class="{{if .Done}}todo-done{{end}}">{{.Content}}
            <span class="controls">
              {{if .Until}}{{FormatDateTime .Until}}{{end}}
              <input type="submit" id="update" name="update" class="button update" value="{{if .Done}}未完了{{else}}完了{{end}}" />
              <input type="submit" id="delete" name="delete" class="button delete" value="削除" />
            </span>
          </span>
        </li>
      </form>
    {{end}}
    </ul>

    <!-- 入力エリア -->
    <div class="my-3">
      <form action="/" method="post" id="add-todo">
        <input type="hidden" name="id" value="" />
        <span>
          <input type="text" class="content" name="content" placeholder="What you should do?" autofocus required />
          <span class="controls">
          <input type="datetime-local" class="until" name="until" value="" />
          <input type="submit" class="button add" value="登録" />
          </span>
        </span>
      </form>
    </div>
  </div>
</body>
</html>
{{end}}
